{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
{% include 'accounts/navbar.html' %}
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<form action="" method="POST">
				{% csrf_token %}
				{{ form.management_form }}
				{% for field in form %}
					{{field}}
					<hr>
				{% endfor %}
				<input class="btn btn-warning" type='submit' name='submit'>

			</form>
		</div>
	</div>
</div>


{% endblock %}
