{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
{% include 'accounts/navbar.html' %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<p> Do you want to delete "{{item}}"</p>

			<form action="{% url 'delete_order' item.id %}" method="POST">
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'home_page' %}">CANCEL</a>
				<input class="btn btn-danger" type="submit" name="confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}
