{% load static %}

<style>
  #hello-msg{
    font-size: 18px;
    color: white;
  margin-right: 20px;
  </style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<!-- <img src="{% static 'img/1.jpg' %}">
   -->
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home_page' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products_page'%}">Products</a>
      </li>
      {% else %}
      <li class="nav-item">
      <a class="nav-item" href="{% url 'account' %}">Settings</a>
      </li>

      {% endif %}
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Customers</a>
      </li> -->
    </ul>
  </div>

  <span id="hello-msg">hello, {{ request.user }}</span>
  <span id="hello-msg"><a href="{% url 'logout_page' %}">logout</a></span>
</nav>