{%  extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/navbar.html'%}
{%  include 'accounts/status.html' %}


<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<tr>
				<a class="btn btn-primary  btn-sm btn-block" href="{%url 'create_order'%}">Create Order</a>
			<table class="table table-sm">
			</tr>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Orderd</th>
					
				</tr>
				
				{% for order in orders %}
				<tr>
					<td>{{ order.product}}</td>
					<td>{{ order.product.category}}</td>
					<td>{{ order.date_created}}</td>
					
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
					<td><a class="btn btn-sm btn-danger"  href="{% url 'delete_order' order.id %}">Delete</a></td>
				</tr>
				{% endfor%}


			</table>
		</div>
	</div>
</div>
{% endblock %}